{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-9 col-sm-8"> <!-- Left hand column -->
    <div class="row">
      {% for person in people %}
      <div id="{{person['screen_name']}}" class="col-xl-3 col-md-4 col-sm-6 col-xs-12">
        <div style="float:left; position:relative;">
          <img src="{{person['profile_image_url']}}" width="100%" 
               alt="{{person['name']}}: {{person['description']}}" />
          <div style="position:absolute; bottom:0px; left:0px 
                      background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5);
                      color:white;">
            <h3 style="padding:10px; margin:0px; color:white;">
              {{person['name']}}<br />
              <small style="color:white;">@{{person['screen_name']}}</small>
            </h3>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th width="1%">#&nbsp;</th>
              <th width="99%">Phrase</th>
            </tr>
          </thead>
          <tbody>
            {% for phrase in person['phrases'] %}
            <tr>
              <td>{{phrase['freq']}}</td>
              <td>{{phrase['text']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>Of their {{person['num_tweets']}} most recent tweets*.</p>
        <br />&nbsp;
      </div> <!-- End person column div -->
    {% endfor %} 
    </div> <!-- End left hand column row div -->
  </div> <!-- End left hand column div -->
  <div class="col-md-3 col-sm-4"> <!-- Right hand column -->
    {% if bad_names %}
    <div class="alert alert-warning" role="alert">
      <b>Warning!</b> Unable to access data for: {{bad_names|join(', ')}}.
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Find top phrases for</h3>
      </div>
      <div class="panel-body">
        <form name="tword_lookup" method="post" action="/">
          <div class="form-group">
            <label for="screen_names">Twitter screen name(s)</label>
            <textarea name="screen_names" class="form-control" 
                      rows="3">{{at_screen_names|join(', ')}}</textarea>
            <span class="help-block">Separated with commas</span>
          </div>
          <button type="submit" class="btn btn-default btn-block">Go!</button>
        </form>
      </div> <!-- End panel body div -->
    </div> <!-- End panel container -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Link to this page</h3>
      </div>
      <div class="panel-body">
        <input type="text" class="form-control input-sm" value="{{request.url}}"></input>
      </div> <!-- End panel body div -->
    </div> <!-- End panel container -->
    <p>
      Note: * Analysis based on their 200 most recent tweets minus native 
      retweets.
    </p>
    <p>Want inspiration? <a href=".">Try lucky dip</a>.</p>
  </div> <!-- End right hand column div -->
</div>
{% endblock %}